*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #D1D5DB;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
select,
textarea {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  background-color: transparent;
}


.mainContainer
{
  width: 90%;
  margin: 2rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}